# Stripe
STRIPE_SECRET_KEY=sk_test_xxx

# Firebase (for Angular environments)
NG_APP_FIREBASE_API_KEY=YOUR_FIREBASE_API_KEY
NG_APP_FIREBASE_AUTH_DOMAIN=YOUR_PROJECT.firebaseapp.com
NG_APP_FIREBASE_PROJECT_ID=YOUR_PROJECT_ID
NG_APP_FIREBASE_STORAGE_BUCKET=YOUR_PROJECT.appspot.com
NG_APP_FIREBASE_MESSAGING_SENDER_ID=YOUR_MESSAGING_SENDER_ID
NG_APP_FIREBASE_APP_ID=YOUR_APP_ID
NG_APP_ANALYTICS_MEASUREMENT_ID=YOUR_ANALYTICS_MEASUREMENT_ID

# Stripe (Angular)
NG_APP_STRIPE_PUBLIC_KEY=pk_live_YOUR_STRIPE_PUBLIC_KEY
