{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "cssDeclarationSorterOrder": "alphabetical",
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    { "files": "*.component.html", "options": { "parser": "angular" } },
    { "files": "*.ts", "options": { "parser": "typescript" } },
    { "files": "*.scss", "options": { "parser": "scss" } }
  ],
  "plugins": ["prettier-plugin-css-order", "prettier-plugin-sort-json"],
  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false
}
