:host {
  background-color: var(--color-background);
  color: var(--color-text);
  display: block;
  min-block-size: 100svh;
}

.app-content {
  @media (min-width: 768px) {
    padding-bottom: 0;
  }
}
